# Symmetric Difference

Objective

Today, we're learning about a new data type: sets.

Concept

If the inputs are given on one line separated by a character (the delimiter), use split() to get the separate values in the form of a list. The delimiter is space (ascii 32) by default. To specify that comma is the delimiter, use string.split(','). For this challenge, and in general on HackerRank, space will be the delimiter.

In [1]:
a = input()

lis = a.split()
print(lis)

3 4 5
['3', '4', '5']

In [2]:
# If the list values are all integer types, use the map() method to convert all the strings to integers.

newlist = list(map(int, lis))
print(newlist)

[3, 4, 5]

In [3]:
# creating sets

myset = {1, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a', 'b']) # Creating a set from a list
myset
{'a', 'b'}

{'a', 'b'}

In [4]:
# modify sets

myset.add('c')
display(myset)

myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5, 4))
myset
{'a', 'c', 'b', (5, 4)}

{'a', 'b', 'c'}

{(5, 4), 'a', 'b', 'c'}

In [5]:
# update function

myset.update([1, 2, 3, 4]) # update() only works for iterable objects
display(myset)

myset.update({1, 7, 8})
display(myset)

myset.update({1, 6}, [5, 13])
myset

{(5, 4), 1, 2, 3, 4, 'a', 'b', 'c'}

{(5, 4), 1, 2, 3, 4, 7, 8, 'a', 'b', 'c'}

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [6]:
# remove items

myset.discard(10)
display(myset)
myset.remove(13)
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

{(5, 4), 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [7]:
# common set operations

a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
display(a.union(b)) # Values which exist in a or b

display(a.intersection(b)) # Values which exist in a and b

display(a.difference(b)) # Values which exist in a but not in b

{2, 4, 5, 9, 11, 12}

{2, 4}

{5, 9}

Given  sets of integers, m and n, print their symmetric difference in ascending order.

In [14]:
m = int(input())
M = set(map(int, input().split()))
n = int(input())
N = set(map(int, input().split()))

3
1 2 3
3
3 2 4

In [19]:
print(*sorted((M.union(N)).difference(M.intersection(N))), sep = "\n")

1
4

In [20]:
# OR

n=int(input())
arr1= set(list(map(int, input().split()))[:n])
m= int(input())
arr2= set(list(map(int, input().split()))[:m])
print(*sorted(arr1^arr2), sep='\n')

3
1 2 3
3
3 4 5
1
2
4
5