# Collections.namedtuple()

collections.namedtuple()

Basically, namedtuples are easy to create, lightweight object types.

They turn tuples into convenient containers for simple tasks.

With namedtuples, you donâ€™t have to use integer indices for accessing members of a tuple.

In [1]:
from collections import namedtuple

Point = namedtuple("Point", "x,y")
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = pt1.x*pt2.x + pt1.y*pt2.y
print(dot_product)

11

In [2]:
Car = namedtuple('Car','Price Mileage Colour Class')
xyz = Car(Price = 100000, Mileage = 30, Colour = 'Cyan', Class = 'Y')
print(xyz)

print(xyz.Class)

Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
Y

Task

Dr. John Wesley has a spreadsheet containing a list of student's ID, MARKS, CLASS and NAME.

Your task is to help Dr. Wesley calculate the average marks of the students.

In [22]:
N = int(input())
headers = input()


headers = headers.upper()

2
id marks name class

In [23]:
from collections import namedtuple
Classlist = namedtuple("Classlist", headers)

total = [Classlist(*input().split()).MARKS for _ in range(N)]
print("{0:.2f}".format(sum(map(int, total))/N))

1 3 john 2
2 4 cary 3
3.50

In [25]:
# OR
N = int(input())
headers = input().split()
headers = [s.upper() for s in headers]


from collections import namedtuple
Classlist = namedtuple("Classlist", headers)

total = [Classlist(*input().split()).MARKS for _ in range(N)]
print("{0:.2f}".format(sum(map(int, total))/N))

2
id name marks class
1 john 3 2
2 cary 4 3
3.50